#acercaDe .team-member {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#acercaDe .team-member:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 213, 35, 0.5);
}

#acercaDe .card-title {
    color: var(--primary-color);
    font-weight: 700;
}

#acercaDe .card-text a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

#acercaDe .card-text a:hover {
    color: var(--secondary-color);
}