/* Botón flotante de WhatsApp */
.whatsapp-btn {
    position: fixed;
    bottom: 110px; /* Ajusta esta distancia si quieres que esté más arriba o más abajo */
    right: 20px; /* Ajusta la distancia desde el borde derecho */
    background-color: #25D366; /* Color verde de WhatsApp */
    color: white;
    font-size: 2em;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #128C7E; /* Cambia a un color más oscuro cuando se pasa el mouse */
}

.whatsapp-btn i {
    font-size: 1.5em; /* Tamaño del ícono */
}