/* -- Linea de tiempo -- */
@media screen and (max-width: 767px) {
    .timeline {
        padding: 0;
    }

    .timeline::after {
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .timeline-progress {
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        z-index: -1;
    }

    .timeline-item {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }

    .timeline-item::after {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content,
    .image-container {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
        position: relative;
    }

    .left,
    .right {
        text-align: center;
    }

    .image-container {
        order: -1;
    }

    .info-card {
        margin-bottom: 1rem;
    }

    .step-number {
        text-align: center;
    }

    .module-image {
        max-width: 100%;
        height: auto;
    }

    .timeline-item:nth-child(odd) .image-container::before,
    .timeline-item:nth-child(even) .image-container::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #6c3ce9;
        border: 4px solid #6c3ce9;
        top: 0;
        left: 50%;
        border-radius: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .timeline-item::after {
        display: none;
    }
}

/* -- Blog -- */
@media (max-width: 767.98px) {
    .dropdown-toggle {
        width: 100%;
    }
}

/*-- Chat bot-- */
@media (max-width: 576px) {
    /* Chatbot */
    .chatbot-container {
        width: calc(100% - 40px);
        height: 50vh;
        bottom: 126px;
        right: 20px;
        left: 10px;
    }

    .chatbot-toggle {
        width: 50px !important; /* Tamaño aumentado */
        height: 50px !important;
        font-size: 1.3rem !important;
        bottom: 20px !important;
    }

    /* Carrito */
    .cart-toggle {
        width: 50px !important; /* Tamaño aumentado */
        height: 50px !important;
        font-size: 1.rem !important;
        bottom: 79px !important; /* Posición relativa al chatbot */
        right: 20px !important;
    }
}




/*-- Sobre nosotros -- */
@media (max-width: 767px) {
    #SobreNosotros .container {
        text-align: center;
    }

    #SobreNosotros p {
        text-align: justify;
        font-size: 1rem;
    }

    #SobreNosotros img {
        margin-top: 2rem;
    }
}
/*-- Whatsapp boton-- */
@media (max-width: 576px) {
    .chatbot-container {
        width: calc(100% - 40px);
        height: 50vh;
        bottom: 76px;
        right: 20px;
        left: 20px;
    }

    .chatbot-toggle, .whatsapp-toggle {
        width: 50px !important; /* Tamaño reducido */
        height: 50px !important;
        font-size: 1.3rem !important;
        bottom: 20px !important;
    }

    .whatsapp-toggle {
        bottom: 79px !important; /* Ajuste para estar sobre el chatbot */
    }
}
/* Boton Matricula */
@media (max-width: 576px) {
    .floating-matricula-btn {
        width: 50px;
        height: 50px;
        font-size: 1.3rem;
        bottom: 140px;
    }

    .floating-matricula-btn:hover {
        width: 180px;
    }
}

/* AvisoPromocional */
@media (max-width: 768px) {
    .promo-bar {
        height: 150px; /* Reduce la altura en pantallas pequeñas */
        padding: 15px 20px;
    }

    .promo-title {
        font-size: 1em; /* Reduce el tamaño de la fuente del título */
    }

    .promo-description {
        font-size: 9.2em; /* Reduce el tamaño de la descripción */
    }

    .promo-button {
        font-size: 1em; /* Reduce el tamaño del botón */
        padding: 10px 20px;
    }

    .promo-content {
        flex-direction: column; /* Los elementos se apilan verticalmente en pantallas pequeñas */
        text-align: center;
    }

    .promo-logo {
        margin-top: 10px;
    }

    .promo-logo-img {
        height: 100px; /* Ajusta el tamaño del logo */
    }

    .promo-countdown {
        margin-bottom: 20px; /* Agrega margen inferior para separación */
    }

    .promo-text-content {
        margin: 10px 0; /* Agrega espacio alrededor del contenido central */
    }
}

@media (max-width: 480px) {
    .promo-title {
        font-size: 1.8em; /* Aún más pequeño en pantallas muy pequeñas */
    }

    .promo-description {
        font-size: 1.1em;
    }

    .promo-button {
        font-size: 0.9em; /* Ajuste final del botón */
        padding: 8px 15px;
    }

    .promo-logo-img {
        height: 80px; /* Ajusta el logo para pantallas pequeñas */
    }

    .promo-text-content {
        margin: 5px 0;
    }
}