#Talleres {
    color: white;
}

#Talleres .card {
    background-color: rgba(26, 19, 50, 0.8); 
}

#Talleres .card-title{

    color:#ffffff7a ;
}

#Talleres .card-text {
    color: white;
}

#Talleres .fas {
    color: var(--primary-color); 
}
